<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Potty Pooper</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>

<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <div class="header item"><i class="bomb icon"></i>Potty Pooper</div>
            <a href="/" class="item">Home</a>
            <a href="/potties/new" class="item">New Post</a>
        </div>

    </div>